:root {
  --bs-secondary-bg-subtle: #f2f2f2;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

a{
  text-decoration: none;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

/* Generic Styles */
main{
    min-height: 60vh;
}

body {
    background: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; /* this is 1em */
    line-height: 1.5;
    color: black;
    
}

h1 {
    font-size: 71px;
    line-height: 106px;
    font-weight: bold;
    margin-bottom: 18px;   
}

h2 {
    font-size: 48px;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 12px;
    text-align: center;  
}

h3 {
    font-size: 32px;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 12px;
    padding-left: 14px;
}

P {
    margin-bottom: 1em; /* font-size is 14, so 1em= 14px */   
}

img, object {
    max-width: 100%;
    height: auto;
    object-fit: cover;   
}

/* HOME PAGE STYLING */

.banner {
    background-image: url("../images/banner.jpeg");
    background-size: cover;
    height: 480px;
}

.navbar {
    background-color: transparent;
}

.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    background-image: url("https://i.imgur.com/NzCJFXb.png");
    filter: invert(1);
  }

.navbar-brand {
    font-family:"Nanum Brush Script", sans-serif;
    font-size: 40px;
}

/* nav bar animation */
.navbar-nav .nav-link {
  position: relative;
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:floralwhite;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.navbar-nav .nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}/* end nav bar animation */

  /*banner text style*/
.banner-text {
    position: absolute;
    top: 30%;
    right: 0;
    transform: translateY(-50%);
    width: 50%;
    padding: 20px;
}
  
.banner-text h1 {
    font-family:"Nanum Brush Script", sans-serif;
} /*end banner text style*/

  /* h1 Animation */
.banner-text h1 {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
} /* end h1 Animation */

.banner-text p {
    font-size: 20px; 
}

.banner-text p {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
} 

 /*main content style*/
.section {
    border: 2px solid #f2f2f2;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #f2f2f2;
    padding:35px;
    text-align: center; 
}
  
.section img {
    position: absolute;
    top: -20px;
    left: 45%; 
    width: 45px;
    height: 45px;
}
  
.section h2 {
    margin-top: 20px;
    margin-bottom: 28px;
    font-size: 35px;
}
  
.section p {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 28px;
}

.section a{
    color: #412C27;
    text-decoration: underline;
    text-decoration-color:#412C27;
}/* end main content style*/

.footer{
    padding: 25px;
    background-color: #412C27;
}/*END HOME PAGE STYLING */

/* ABOUT PAGE STYLING */
.about-page .navbar{
    background-color:#412C27 ;
}

h1.about-page{
    margin-top: 80px;
    font-size: 40px;
}

.about-banner{
   margin-top: -20px;
}

.about p{
   line-height: 2;
}

.about-me p{
   line-height: 2;
}/* END ABOUT PAGE STYLING */

/* CONTACT PAGE STYLING */
.contact-page .navbar{
   background-color:#412C27 ;
}

h1.contact-page {
   margin-top: 110px;
   font-size: 40px;
   padding-left: 24px;
   padding-right: 24px;
   line-height: 1.7;
}

.contact-info p{
    margin-left: 28px;
    margin-bottom: 28px;
}

.form label{ 
   padding-left: 28px;
}

.form input { 
    width: 90%;
    height: 40px;
    margin-left: 28px;
    border:   #f5f8fc;
    background-color: #f2f2f2;
    border-radius: 10px;
}

#message{
    height: 200px;
    width: 90%;
}
    
.form button{
    font-size: 15px;
    margin-left: 28px;
    width: 80px;
    height: 40px;
    background-color:#f2f2f2;
    color: #412C27;
    border: solid 2px #412C27;
    margin-bottom: 40px;
    border-radius: 10px;
}

.form button:hover{
    background-color:#412C27;
    color:#f2f2f2
}/* END CONTACT PAGE STYLING */

/* PHOTOGRAPHY PAGE STYLING */
.photography-page .navbar{
    background-color:#412C27 ;
 }

.portfolio-title{
    margin-top: 85px;
    font-size: 40px;
}/*END PHOTOGRAPHY PAGE STYLING */

/* WEB DESIGN PAGE STYLING */
.web-page .navbar{
    background-color:#412C27 ;
 }

h1.web-page{
  margin-top: 80px;
  font-size: 40px;
}

h2{
  font-size: 30px;
}

/* skip links */
.skip-links{
  list-style: none;
  margin: 0;
  padding: 0;
}

.skip-links a{
  position: absolute;
  top: -4em;
  color:white;
  padding: .5em 1em;
  font-weight: bold;
}

.skip-links a:focus{
  top: 0;
}

/* back to top */

.footer a{
  position: absolute;
  top: -3em;
  color:white;
  padding: 1em;
  font-weight: bold;
} 

@media only screen and (min-width: 768px){
  /* HOME PAGE STYLING */
  .banner {
      background-repeat: no-repeat;
      background-position: center;
      height:800px;        
  }
  .banner-text h1{
    font-size: 70px;
  } /*END HOME PAGE STYLING */

  /* WEB PAGE STYLING  */
      /* web page p1 style */
  .webdesign1{
    animation-duration: 1s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .webdesign1 h2{
    margin-left: -300px;
  }

  .webdesign1 p{
    margin-left: -200px;
  }/*end web page p1 style */

     /* web page p2 style */
  .webdesign2{
    animation-duration: 2s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .webdesign2 h2{
    margin-left: -50px;
  }

  .webdesign2 p{
    margin-left: 150px;
  } /* end web page p2 style */

   /*web page p3 style */
  .webdesign3{
    animation-duration: 2.5s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  .webdesign3 p{
    margin-left: 50px;
  }/* end web page p3 style */

  /*END WEB PAGE STYLING */

/* CONTACT PAGE STYLING*/
  .form-control {
  transition: all 0.3s ease-in-out; /* Add transition for all properties */
  }

  .form-control:hover {
  transform: scale(1.1); /* Increase size of input by 10% on hover */
  } /*END CONTACT PAGE STYLING*/

  .portfolio{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  } 
}
  @media only screen and (min-width: 992px){

 /* HOME PAGE STYLING */
  .banner-text h1{
      font-size: 90px;
  } /*END HOME PAGE STYLING*/

  /* WEB PAGE STYLING  */

  .webdesign1{
    animation-duration: 1s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .webdesign1 h2{
    margin-left: -500px;
  }
  .webdesign1 p{
    margin-left: -350px;
  }

  .webdesign2{
    animation-duration: 2s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .webdesign2 h2{
    margin-left: -100px;
  }
  .webdesign2 p{
    margin-left: 150px;
  }

  .webdesign3{
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  .webdesign3 h2{
    margin-left: 50px;
  }
  .webdesign3 p{
    margin-left: 150px;
  } /*END WEB PAGE STYLING*/

  .portfolio{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
 }
}